header{
    grid-area: header;
    background-color:  rgb(3, 3, 102);
    border: 1px solid;
    color: white;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    margin: 0;
    padding: 0;
    text-align: center;
    p{
        font-size: 20px;
    }
    img{
        display: block;
        margin-left: 0px;
    }
    div{
        align-content: center;
        text-align: center;
        width: 30%;
    }
}

nav{
    grid-area: nav;
    h2{
        background-color: rgb(3, 3, 102);
        color:white;
        size: 150%;
    }
}

ol{
    padding: 0%;
    margin: 0%;
    text-indent: 0%;
}

a{
    text-decoration: none;
    font-size: 100px;
    color: rgb(187, 185, 185);
}

#titulo{
    font-family: 'Parisienne', cursive;
    color: white;
    text-align: center;
    font-size: 200%;
    display: inline;
    a{
        text-decoration: none;
    }
    a:hover{
        transition: 1s;
        color: white;
    }
}

body{
    font-family: 'Roboto', sans-serif;
    color:rgb(255, 255, 255);
    background-image: linear-gradient(to bottom, rgb(3, 3, 102), rgb(169, 167, 238));
    word-spacing: 7px;
    height: auto;
    width: 100%;
    p{
        color: white;
    }

}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

h2{
    text-align: center;
    background-color: rgb(3, 3, 102);
    color:white;
    font-size: 250%;
}

h3{
    font-size: 200%;
    color:rgb(182, 197, 218);
    background: #020b5f;
    text-align: center;
}

ul{
    list-style: none;
    font-size: 100%;
    min-width: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 75;
    ul{
        position: absolute;
        display: none;
        li{
            display: block;
            margin: 30px;
            border-radius: 25px;
            background: #020b5f;
            padding: 20px;
            width: auto;
            color: white;
        } 
    }  
    li:hover ul{
        display:block;
    } 
    a {
        display: inline-block;
        color:white;
        font-size: 30px;
        text-decoration: none;
    }
}
li{
    display: inline-block;
    width: 25%;
    position: relative;
    font-size: 14px;
    margin: 20px;
    border-radius: 25px;
    background: #020b5f;
    padding: 20px;
    color: white;
}

a.btn.btn-primary{
    transition: 1s;
    font-size: 30px;
    margin: 20px;
}

a.btn.btn-primary:hover{
    transition: 2s;
    transform: scale(1.1,1.1);
    background: #1a1f52
}

button.btn.btn-primary{
    transition: 1s;
    font-size: 30px;
    margin: 20px;
    transition: 1s;
}

#dropdownItem{

    a{
        font-size: 30px;
        transition: 0.5s;
        background-color: #0d6efd;
        color: white;
    }
    a:hover{
        background-color: #011b41;
        color: white;
        transition: 1s;
        transform: scale(1.2,1.2);
    }
}

.dropdown-menu.show{
    background-color: #0d6efd;
    color: white;
}

button.btn.btn-primary:hover{
    transition: 2s;
    transform: scale(1.1,1.1);
    background: #1a1f52
}

p{
    font-size: 175%;
    text-align: center;
    padding: 20px;
}

.listaequipos{
    font-size: 150%;
    list-style: none;
    li{
        display:inline-block;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: auto;
        margin-right: auto;
        font-size: 40px;
        text-decoration: underline;
    }
}

.tablatecnica{
    margin-right: auto;
    margin-left: auto;
    font-size: 150%;
    text-align: center;
    th{
        background-color: #020b5f;
        border-radius: 50px;
        color: white;
        padding-right: 10px;
        padding-left: 10px;
    }
    td{
        border-bottom-style: solid;
        border-bottom-color: black;
        border-bottom-width: 3px;
    }
    li{
        font-size: 75%;
        text-align: center;
        background-color: transparent;
        padding-right: 3px;
        padding-left: 3px;
        margin: 3px;
    }
    ul{
        li{
            list-style-type: circle;
        }
    }
}

.formulario{
    font-size: 150%;
    text-align: center;
    div{
        padding-bottom: 20px;
    }
    button{
        font-size: 100%;
    }
}

footer{
    grid-area: footer;
    text-align: center;
    background-color:#020b5f;
    color: white;
}

#grilla{
    display: inline-grid;
    grid-template-areas: 
    "header header"
    "nav    nav"
    "info   info"
    "equipos    tecnica"
    "footer footer";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 250px 1fr 1fr 75px;
}

section{
    #equipos{
        grid-area: equipos;
    }
    #info{
        grid-area: info;
        p{
            color: white;
        }
    }
    #tecnica{
        grid-area: tecnica;
    }
}

@media only screen and (max-width: 768px){
    body{
        background-color:white;
        width: auto;
    }
    #grilla{
        display: inline-grid;
        text-align: center;
        grid-template-areas: 
        "header"
        "nav"
        "info"
        "equipos"
        "tecnica"
        "footer";
        grid-template-columns: 100%;
        grid-template-rows: 500px 500px 1fr 1fr 1fr 75px;
    }
    ul li{
        display:block;
        width: 1fr;
        text-align: center;
        margin-left: auto;
        margin-right: auto;

    }
    nav{
        height: 1000px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
    body{
        background-color:yellow;
        width: auto;
    }
    #grilla{
        display: inline-grid;
        text-align: center;
        grid-template-areas: 
        "header"
        "nav"
        "info"
        "equipos"
        "tecnica"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows: 500px 200pxpx 1fr 1fr 1fr 75px;
    }
}

.MuestraIndex{
    margin-bottom: 10px;
}

.navegacion{
    text-align: center;
}

.carousel-indicators{
    li{
        background-color: blue;
        border-radius: 100%;
        width: 5px;
        height: 5px;
        margin: 5px;
        padding: 5px;
    }
}

#logo{
    margin: 0%;
    img{
        display: inline;
        margin: 0%;
    }
}

#datos{
    display: inline;
    p{
        font-size: 175%;
        text-align: center;
        padding: 20px;
    }
}

